.about-card {
  /* height: 75vh; */
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw 15vh 5vw;
  margin-bottom: -10vh;

}

.profile-photo {
  height: 15vh;
  width: auto;
  border: 1px solid var(--highmid);
  border-radius: 5%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

.about-content {
  padding: 5vh;
  width: 45%;
}

@media screen and (max-width: 500px) {
  .about-section {
    flex-direction: column;
  }

  .about-content {
    padding: 5vh 0;
    width: 90%;
  }
}

.alva-display {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 40%,
    #44107a 55%,
    #ff1361 65%,
    #fff800 70%,
    #ff1361 75%,
    #44107a 85%,
    #231557 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}