.about-card {
  height: 25vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  height: 15vh;
  width: auto;
  border: 1px solid var(--highmid);
  border-radius: 5%;
}