.about-header {
  background-image: url(../../assets/images/puddle-stores.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
  width: 100%;
  /* font-size: larger; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .about-header h1 {

  }
}

.about-header-name {
  padding: 1vh 0;
  /* border-top: 2px solid var(--white); */
  /* border-bottom: 2px solid var(--white); */
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    -90deg,
    transparent 0%,
    var(--black) 20%,
    var(--black) 50%,
    var(--black) 80%,
    transparent 100%
  );
}

.about-header-title {
  padding-top: 5px;
  border-top: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 820px) {
  .about-header {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .about-header-name {
    width: 250px;
  }
}