.about-card {
  /* height: 75vh; */
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw 15vh 5vw;
  margin-bottom: -10vh;

}

.profile-photo {
  height: 15vh;
  width: auto;
  border: 1px solid var(--highmid);
  border-radius: 5%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

.about-content {
  padding: 5vh;
  width: 45%;
}

@media screen and (max-width: 500px) {
  .about-section {
    flex-direction: column;
  }

  .about-content {
    padding: 5vh 0;
    width: 90%;
  }
}