.contact-header {
  background-image: url(../../assets/images/rain.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
  width: 100%;
  /* font-size: larger; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .contact-header h1 {

  }
}

.contact-header-name {
  padding-bottom: 5px;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-header-title {
  padding-top: 5px;
  border-top: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}