.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  padding: 2vw;
}

.contactCardHeading {
  color: var(--white);
}

.contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-area {
  margin: 1vh;
  width: 400px;
}

.contactCardContent {
  color: var(--white);
}

.error-text {
  color: var(--error);
}

.contact-row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .contact-container {
    width: 90vw;
    margin: 2.5vw;
  }

  .contact-form {
    width: 90vw;
  }

  .contact-area {
    width: 90%;
  }
  
}