.divider {
  /* height: 10vh;
  background: linear-gradient(135deg, black 0%, black 50%, transparent 50%);
  transform: translateY(-5vh) translateX(50vw); */
  /* position: absolute;
  top: 5vh;
  left: 0;
  transform-origin: top left;
  transform: rotate(45deg) translateY(-5vh); */
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 8vw solid var(--primary);
  margin-top: -8vw;
}

.divider2 {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 8vw solid var(--secondary);
  margin-top: -8vw;
}

.divider3 {
  height: 10vh;
  width: 100vw;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  margin: 0 0 -5vh 0;
}