/* |||| GLOBAL STYLE |||| */

/* ROOT COLOR KEY */
:root {
  --primary: #424242;
  --secondary: #808080;
  --tertiary: #FFFDD0;
  --quatrinary: #bdbdbd;
  --light: #dfdfdf;
  --dark: #3B3B38;
  --white: #ffffff;
  --black: #000000;
  --silver: #c0c0c0;

  --weatherBlue: #113555;
  --weatherTitle: #365a7a;
  --highlight: #ffc107;
  --highmid: #ffa000;
  --highdark: #ff6f00;
  --cylight: #b2ebf2;
  --cymid: #4dd0e1;
  --cydark: #00bcd4;
  --cydarker: #00acc1;
  --turq: #69dcf3;

  --express: #ffffff;
  --json: #ffffff;
  --graph: #e10098;
  --npm: #cb3837;
  --html5: #e34f26;
  --handlebars: #ff7b00;
  --js: #f7df1e;
  --nodemon: #76d04b;
  --node: #6cc24a;
  --mongo: #589636;
  --materialize: #26a69a;
  --react: #00d8ff;
  --sequelize: #00a5db;
  --css3: #0074d9;
  --vscode: #007acc;
  --jquery: #0769AD;
  --mysql: #00758f;
  --passport: #2c3e50;
  --heroku: #6762a6;
  --github: #6F42C1;
  --bootstrap: #563d7c;
  --apollo: #311c87;
  --insomnia: #0b163d;
  --msoffice: #2D3952;
  --axios: #35495e;
  --sass: #CD6799;

  --error: rgb(228, 46, 1);
  --border-radius: 5%;
}

/* GLOBAL EFFECTS */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background: url(../images/black-space.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background-color: var(--react);
}