.header {
  /* background: url(../../assets/images/puddle-shine.gif) no-repeat center center fixed; */
  background-image: url(../../assets/images/puddle-shine.gif);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 110vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: larger; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-bottom: -10vh;
}

/* @media screen and (max-width: 900px) {
  .header h1 {

  }
} */

.header-name {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  padding-top: 5px;
  border-top: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 820px) {
  .header {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}