.header {
  background: url(../../assets/images/puddle-shine.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  width: 100%;
  /* font-size: larger; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .header h1 {

  }
}

.header-name {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  padding-top: 5px;
  border-top: 2px solid var(--white);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}