.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.FaBars {
  color: var(--black);
  height: 5vh;
  width: 5vh;
}

.FaTimes {
  color: var(--error);
  height: 5vh;
  width: 5vh;
}

.menu-icon {
  background-color: var(--white);
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  margin: 1vw;
  border: 4px solid var(--highmid);
  box-shadow: 2px 2px 4px var(--black);
}

.close-icon {
  position: absolute;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  top: 2vh;
  right: 2vh;
  cursor: grab;
}

.dropdown-menu {
  position: fixed !important;
  top: 12vh;
  right: 3vh;
  width: 6vw;
  background-color: transparent !important;
  border-radius: 20px;
  margin: 1vw;
  z-index: 1;
  display: flex !important;
  min-width: 0 !important;
}

.menu-items {
  display: flex;
  flex-direction: column;
  top: 2vh;
  right: 2vh;
}

.menu-items a {
  top: 2vh !important;
  right: 2vh !important;
  color: var(--white);
  margin: 1vh 0;
  /* padding: 10px; */
  font-weight: bold;
  text-decoration: none;
  font-size: 4vw;
  z-index: 3;
  border: 2px solid var(--highmid);
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items a:hover {
  background-color: white;
  color: var(--turq);
  border-radius: 5px;
}