.projects-card {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vh 0 10vh 0;
  margin-top: -10vh;
}

.projects-slider {
  height: 75vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-slider div {
  height: 100%;
}

.showcase-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}

/* .slick-slider button {
  height: 25vh !important;
} */

.custom-arrow {
  width: 3vw;
  height: 25vh;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-upper-row {
  height: 75% !important;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh;
}

.showcase-lower-row {
  height: 25% !important;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh;
}

.showcase-pic {
  height: 100%;
  width: auto;
}

.showcase-pic img {
  height: 100%;
  width: 100%;
}