.projects-card {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 0 5vh 0;
  margin-top: -10vh;
}

.projects-slider {
  /* height: 95vh; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-slider div {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2vh; */
  /* border: 2px solid var(--black); */
}

.showcase-main-title {
  text-decoration: underline;
}

/* .slick-slider button {
  height: 25vh !important;
} */

.tech-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.custom-arrow {
  width: 15px;
  height: 25vh;
  background-color: var(--black);
  color: var(--turq);
  font-size: 2rem;
  /* border: none; */
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--white);
  /* border: 1px solid var(--white); */
  border-radius: 5%;
  padding: 1px;
}

.showcase-upper-row {
  height: 85% !important;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh;
}

.showcase-lower-row {
  height: 15% !important;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  padding: 2vh;
}

.showcase-lower-row a {
  border: 2px solid var(--black);
  background-color: var(--quatrinary);
  padding: 1vh 10vh;
  color: var(--primary);
  transition: transform 0.2s;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.showcase-lower-row a:hover {
  color: var(--black);
  transform: scale(1.1);
  background-color: var(--secondary);
}

.showcase-pic {
  /* height: 100%;
  width: auto; */
  /* height: auto !important; */
  width: 85%;
  display: flex;
  flex-direction: column;
}
.showcase-desc {
  margin-top: 2vh;
}

.showcase-pic img {
  height: 100%;
  width: 100%;
}

/* .showcase-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.tech-icon {
  height: 8vh;
  width: auto;
  color: var(--black);
  transition: transform 0.2s;
  margin: 1vh;
}

.button-icon-left {
  height: 4vh;
  width: 4vh;
  margin-right: 1vw;
}

.button-icon-right {
  height: 4vh;
  width: 4vh;
  margin-left: 1vw;
}

.tech-icon:hover {
  transform: scale(1.1);
}

.hbrs-tech-icon:hover {
  color: var(--handlebars);
}

.node-tech-icon:hover {
  color: var(--node);
}

.jq-tech-icon:hover {
  color: var(--jquery);
}

.ex-tech-icon:hover {
  color: var(--express);
}

.html-tech-icon:hover {
  color: var(--html5);
}

.css-tech-icon:hover {
  color: var(--css3);
}

.js-tech-icon:hover {
  color: var(--js)
}

.react-tech-icon:hover {
  color: var(--react);
}

.mongo-tech-icon:hover {
  color: var(--mongo);
}

.graph-tech-icon:hover {
  color: var(--graph);
}

.apollo-tech-icon:hover {
  color: var(--apollo);
}

.sequelize-tech-icon:hover {
  color: var(--sequelize);
}

@media screen and (max-width: 1200px) {
  .tech-list-container {
    width: 100%;
    justify-content: space-between !important;
  }

  .showcase-upper-row {
    flex-direction: column;
  }

  .showcase-desc {
    display: none;
  }

  .showcase-list-title {
    display: none;
  }

  .showcase-list {
    margin: 5vh 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between !important;
    list-style-type: none;
    padding-left: 0 !important;
    width: 100%;
  }

  .tech-icon {
    height: 6vh;
  }

  .showcase-lower-row a {
    padding: 1vh 5vh;
  }
}

@media screen and (max-width: 800px) {
  .showcase-pic {
    width: 110%;
  }

  .showcase-lower-row {
    flex-direction: column;
  }

  .showcase-lower-row a {
    margin-top: 2vh;
  }
}