.resume-card {
  background-color: var(--secondary);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0 10vh 0;
  margin-top: -10vh;
}

.resume-section-card {
  border: 1px solid var(--black);
  border-radius: 5vh;
  box-shadow: 2px 2px 4px var(--primary);
  margin: 2vh;
  padding: 2vh 2vh 4vh 2vh;
  width: 80vw;
}

.resume-img {
  margin: 5vh;
  height: 50vh;
  width: auto;
  transition: transform 0.2s;
  box-shadow: 2px 2px 4px var(--black);
}

.resume-img:hover {
  transform: scale(1.1);
}

.exp-logo,
.edu-logo {
  height: 10vh;
  width: auto;
  opacity: 50%;
}

.kcf-logo {
  border-radius: 4vh;
  height: 6vh;
  width: auto;
}

.resume-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  text-decoration: underline;
}

.resume-content {
  padding-top: 2vh;
}

.resume-content-underline {
  border-bottom: 1px solid var(--black);
}

.chfc-title {
  color: var(--light);
  text-shadow: 1px 1px 2px var(--black);
}

.resume-download-card {
  padding: 5vh 10vh;
  border: 1px solid var(--black);
  border-radius: 5vh;
  box-shadow: 2px 2px 4px var(--primary);
  margin: 2vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* | @MEDIA QUERIES | */
@media screen and (max-width: 800px) {
  .resume-section-card {
    width: 94vw;
  }

  .resume-download-card {
    width: 94vw;
    padding: 5vh 5vh;
  }
}