.resume-card {
  background-color: var(--secondary);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-section {
  height: 50vh;
  width: 95vw;
  border: 2px solid var(--white);
  border-radius: 20px;
  margin: 2vh;
  padding: 2vh;
}

.resume-img {
  height: 10vh;
  width: 10vw;
}