/* | TECHS BANNER STYLE | */
.techs-card {
  background: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 0;
}

.tech-logo {
  height: 10vh;
  width: 10vh;
  color: var(--black);
  margin: 0.5vh 0;
}

/* | TECH LOGO ICON ANIMATION SET | */
.css3-logo {
  -webkit-animation-name: techs-animation1;
  animation-name: techs-animation1;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation1 6s infinite; */
  /* animation: techs-animation1 6s infinite; */
}

.js-logo {
  -webkit-animation-name: techs-animation2;
  animation-name: techs-animation2;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation2 6s infinite;
  animation: techs-animation2 6s infinite; */
}

.apollo-logo {
  -webkit-animation-name: techs-animation3;
  animation-name: techs-animation3;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation3 6s infinite;
  animation: techs-animation3 6s infinite; */
}

.jquery-logo {
  -webkit-animation-name: techs-animation4;
  animation-name: techs-animation4;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation4 6s infinite;
  animation: techs-animation4 6s infinite; */
}

.html5-logo {
  -webkit-animation-name: techs-animation5;
  animation-name: techs-animation5;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation5 6s infinite;
  animation: techs-animation5 6s infinite; */
}

.node-logo {
  -webkit-animation-name: techs-animation6;
  animation-name: techs-animation6;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation6 6s infinite;
  animation: techs-animation6 6s infinite; */
}

.react-logo {
  -webkit-animation-name: techs-animation7;
  animation-name: techs-animation7;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation7 6s infinite;
  animation: techs-animation7 6s infinite; */
}

.mongo-logo {
  -webkit-animation-name: techs-animation8;
  animation-name: techs-animation8;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation8 6s infinite;
  animation: techs-animation8 6s infinite; */
}

.graph-logo {
  -webkit-animation-name: techs-animation9;
  animation-name: techs-animation9;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation9 6s infinite;
  animation: techs-animation9 6s infinite; */
}

.express-logo {
  -webkit-animation-name: techs-animation10;
  animation-name: techs-animation10;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation10 6s infinite;
  animation: techs-animation10 6s infinite; */
}

.handlebars-logo {
  -webkit-animation-name: techs-animation11;
  animation-name: techs-animation11;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation11 6s infinite;
  animation: techs-animation11 6s infinite; */
}

.sequelize-logo {
  -webkit-animation-name: techs-animation12;
  animation-name: techs-animation12;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.bootstrap-logo {
  -webkit-animation-name: techs-animation13;
  animation-name: techs-animation13;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.insomnia-logo {
  -webkit-animation-name: techs-animation14;
  animation-name: techs-animation14;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.heroku-logo {
  -webkit-animation-name: techs-animation15;
  animation-name: techs-animation15;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.github-logo {
  -webkit-animation-name: techs-animation16;
  animation-name: techs-animation16;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.axios-logo {
  -webkit-animation-name: techs-animation17;
  animation-name: techs-animation17;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

.sass-logo {
  -webkit-animation-name: techs-animation18;
  animation-name: techs-animation18;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* -webkit-animation: techs-animation12 6s infinite;
  animation: techs-animation12 6s infinite; */
}

/* -WEBKIT- KEYFRAME ANIMATION SET */
@-webkit-keyframes techs-animation1 {
  0% {
    color: var(--black);
  }
  5.56% {
    color: var(--css3);
  }
  11.11% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation2 {
  0% {
    color: var(--black);
  }
  5.56% {
    color: var(--black);
  }
  11.11% {
    color: var(--js);
  }
  16.67% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation3 {
  0% {
    color: var(--black);
  }
  11.11% {
    color: var(--black);
  }
  16.67% {
    color: var(--apollo);
  }
  22.22% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation4 {
  0% {
    color: var(--black);
  }
  16.67% {
    color: var(--black);
  }
  22.22% {
    color: var(--jquery);
  }
  27.78% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation5 {
  0% {
    color: var(--black);
  }
  22.22% {
    color: var(--black);
  }
  27.78% {
    color: var(--html5);
  }
  33.33% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation6 {
  0% {
    color: var(--black);
  }
  27.78% {
    color: var(--black);
  }
  33.33% {
    color: var(--node);
  }
  38.89% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation7 {
  0% {
    color: var(--black);
  }
  33.33% {
    color: var(--black);
  }
  38.89% {
    color: var(--react);
  }
  44.44% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation8 {
  0% {
    color: var(--black);
  }
  38.89% {
    color: var(--black);
  }
  44.44% {
    color: var(--mongo);
  }
  50% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation9 {
  0% {
    color: var(--black);
  }
  44.44% {
    color: var(--black);
  }
  50% {
    color: var(--graph);
  }
  55.56% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation10 {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--black);
  }
  55.56% {
    color: var(--express);
  }
  61.11% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation11 {
  0% {
    color: var(--black);
  }
  55.56% {
    color: var(--black);
  }
  61.11% {
    color: var(--handlebars);
  }
  66.67% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation12 {
  0% {
    color: var(--black);
  }
  61.11% {
    color: var(--black);
  }
  66.67% {
    color: var(--sequelize);
  }
  72.22% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation13 {
  0% {
    color: var(--black);
  }
  66.67% {
    color: var(--black);
  }
  72.22% {
    color: var(--bootstrap);
  }
  77.78% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation14 {
  0% {
    color: var(--black);
  }
  72.22% {
    color: var(--black);
  }
  77.78% {
    color: var(--insomnia);
  }
  83.33% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation15 {
  0% {
    color: var(--black);
  }
  77.78% {
    color: var(--black);
  }
  83.33% {
    color: var(--heroku);
  }
  88.89% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation16 {
  0% {
    color: var(--black);
  }
  83.33% {
    color: var(--black);
  }
  88.89% {
    color: var(--github);
  }
  94.44% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation17 {
  0% {
    color: var(--black);
  }
  88.89% {
    color: var(--black);
  }
  94.44% {
    color: var(--axios);
  }
  100% {
    color: var(--black);
  }
}

@-webkit-keyframes techs-animation18 {
  0% {
    color: var(--black);
  }
  94.44% {
    color: var(--black);
  }
  100% {
    color: var(--sass);
  }
  105.56% {
    color: var(--black);
  }
}

/* KEYFRAME ANIMATION SET */

@keyframes techs-animation1 {
  0% {
    /* -webkit-color: var(--black); */
    color: var(--black);
  }
  5.56% {
    /* -webkit-color: var(--css3); */
    color: var(--css3);
  }
  11.11% {
    /* -webkit-color: var(--black); */
    color: var(--black);
  }
  100% {
    /* -webkit-color: var(--black); */
    color: var(--black);
  }
}

@keyframes techs-animation2 {
  0% {
    color: var(--black);
  }
  5.56% {
    color: var(--black);
  }
  11.11% {
    color: var(--js);
  }
  16.67% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation3 {
  0% {
    color: var(--black);
  }
  11.11% {
    color: var(--black);
  }
  16.67% {
    color: var(--apollo);
  }
  22.22% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation4 {
  0% {
    color: var(--black);
  }
  16.67% {
    color: var(--black);
  }
  22.22% {
    color: var(--jquery);
  }
  27.78% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation5 {
  0% {
    color: var(--black);
  }
  22.22% {
    color: var(--black);
  }
  27.78% {
    color: var(--html5);
  }
  33.33% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation6 {
  0% {
    color: var(--black);
  }
  27.78% {
    color: var(--black);
  }
  33.33% {
    color: var(--node);
  }
  38.89% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation7 {
  0% {
    color: var(--black);
  }
  33.33% {
    color: var(--black);
  }
  38.89% {
    color: var(--react);
  }
  44.44% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation8 {
  0% {
    color: var(--black);
  }
  38.89% {
    color: var(--black);
  }
  44.44% {
    color: var(--mongo);
  }
  50% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation9 {
  0% {
    color: var(--black);
  }
  44.44% {
    color: var(--black);
  }
  50% {
    color: var(--graph);
  }
  55.56% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation10 {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--black);
  }
  55.56% {
    color: var(--express);
  }
  61.11% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation11 {
  0% {
    color: var(--black);
  }
  55.56% {
    color: var(--black);
  }
  61.11% {
    color: var(--handlebars);
  }
  66.67% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation12 {
  0% {
    color: var(--black);
  }
  61.11% {
    color: var(--black);
  }
  66.67% {
    color: var(--sequelize);
  }
  72.22% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation13 {
  0% {
    color: var(--black);
  }
  66.67% {
    color: var(--black);
  }
  72.22% {
    color: var(--bootstrap);
  }
  77.78% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation14 {
  0% {
    color: var(--black);
  }
  72.22% {
    color: var(--black);
  }
  77.78% {
    color: var(--insomnia);
  }
  83.33% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation15 {
  0% {
    color: var(--black);
  }
  77.78% {
    color: var(--black);
  }
  83.33% {
    color: var(--heroku);
  }
  88.89% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation16 {
  0% {
    color: var(--black);
  }
  83.33% {
    color: var(--black);
  }
  88.89% {
    color: var(--github);
  }
  94.44% {
    color: var(--black);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation17 {
  0% {
    color: var(--black);
  }
  88.89% {
    color: var(--black);
  }
  94.44% {
    color: var(--axios);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation18 {
  0% {
    color: var(--black);
  }
  94.44% {
    color: var(--black);
  }
  100% {
    color: var(--sass);
  }
  105.56% {
    color: var(--black);
  }
}

/* | @MEDIA QUERIES | */
@media screen and (max-width: 800px) {
  .tech-logo {
    height: 8vh;
    width: 8vh;
  }
}