.techs-card {
  height: 25vh;
  width: 100%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.tech-logo {
  height: 20vh;
  width: 20vh;
  color: var(--black);
}

.css-logo:hover {
  color: var(--css3);
}

.js-logo:hover {
  color: var(--js);
}

.mongo-logo:hover {
  color: var(--mongo);
}

.html-logo:hover {
  color: var(--html5);
}

.node-logo:hover {
  color: var(--node);
}

.react-logo:hover {
  color: var(--react);
}

.apollo-logo:hover {
  color: var(--apollo);
}

.graph-logo:hover {
  color: var(--graph);
}

.handlebars-logo:hover {
  color: var(--handlebars);
}

.sequelize-logo:hover {
  color: var(--sequelize);
}