.techs-card {
/* width: 100vw !important; */
background: var(--secondary);
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 2vh 0;
}

.tech-logo {
height: 15vh;
width: 15vh;
color: var(--black);
margin: .5vh 0;
/* outline: 2px solid var(--black); */
}

.css3-logo {
  color: var(--black);
  animation: techs-animation1 7s infinite;
}

.js-logo {
  color: var(--black);
  animation: techs-animation2 7s infinite;
}

.apollo-logo {
  color: var(--black);
  animation: techs-animation3 7s infinite;
}

.jquery-logo {
  color: var(--black);
  animation: techs-animation4 7s infinite;
}

.html5-logo {
  color: var(--black);
  animation: techs-animation5 7s infinite;
}

.node-logo {
  color: var(--black);
  animation: techs-animation6 7s infinite;
}

.react-logo {
  color: var(--black);
  animation: techs-animation7 7s infinite;
}

.mongo-logo {
  color: var(--black);
  animation: techs-animation8 7s infinite;
}

.graph-logo {
  color: var(--black);
  animation: techs-animation9 7s infinite;
}

.express-logo {
  color: var(--black);
  animation: techs-animation10 7s infinite;
}

.handlebars-logo {
  color: var(--black);
  animation: techs-animation11 7s infinite;
}

.sequelize-logo {
  color: var(--black);
  animation: techs-animation12 7s infinite;
}

@keyframes techs-animation1 {
  0%, 100% {
    color: var(--black);
    /* text-shadow: 0px 0px 0px var(--black); */
  }
  10% {
    color: var(--css3);
    /* text-shadow: 2px 2px 4px var(--black); */
  }
  20% {
    color: var(--black);
    /* text-shadow: 0px 0px 0px var(--black); */
  }
}

@keyframes techs-animation2 {
  0%, 100% {
    color: var(--black);
  }
  8.33% {
    color: var(--black);
  }
  16.66% {
    color: var(--js);
  }
  24.99% {
    color: var(--black);
  }
}

@keyframes techs-animation3 {
  0%, 100% {
    color: var(--black);
  }
  16.66% {
    color: var(--black);
  }
  24.99% {
    color: var(--apollo);
  }
  33.33% {
    color: var(--black);
  }
}

@keyframes techs-animation4 {
  0%, 100% {
    color: var(--black);
  }
  24.99% {
    color: var(--black);
  }
  33.33% {
    color: var(--jquery);
  }
  41.66% {
    color: var(--black);
  }
}

@keyframes techs-animation5 {
  0%, 100% {
    color: var(--black);
  }
  33.33% {
    color: var(--black);
  }
  41.66% {
    color: var(--html5);
  }
  49.99% {
    color: var(--black);
  }
}

@keyframes techs-animation6 {
  0%, 100% {
    color: var(--black);
  }
  41.66% {
    color: var(--black);
  }
  49.99% {
    color: var(--node);
  }
  58.33% {
    color: var(--black);
  }
}

@keyframes techs-animation7 {
  0%, 100% {
    color: var(--black);
  }
  49.99% {
    color: var(--black);
  }
  58.33% {
    color: var(--react);
  }
  66.66% {
    color: var(--black);
  }
}

@keyframes techs-animation8 {
  0%, 100% {
    color: var(--black);
  }
  58.33% {
    color: var(--black);
  }
  66.66% {
    color: var(--mongo);
  }
  75% {
    color: var(--black);
  }
}

@keyframes techs-animation9 {
  0%, 100% {
    color: var(--black);
  }
  66.66% {
    color: var(--black);
  }
  75% {
    color: var(--graph);
  }
  83.33% {
    color: var(--black);
  }
}

@keyframes techs-animation10 {
  0%, 100% {
    color: var(--black);
  }
  75% {
    color: var(--black);
  }
  83.33% {
    color: var(--express);
  }
  91.66% {
    color: var(--black);
  }
}

@keyframes techs-animation11 {
  0%, 100% {
    color: var(--black);
  }
  83.33% {
    color: var(--black);
  }
  91.66% {
    color: var(--handlebars);
  }
  100% {
    color: var(--black);
  }
}

@keyframes techs-animation12 {
  0%, 100% {
    color: var(--black);
  }
  91.66% {
    color: var(--black);
  }
  100% {
    color: var(--sequelize);
  }
  108.33% {
    color: var(--black);
  }
}